<main id="cabinetCustomerWallet" class="page page_right">

    <section id="wallet" class="section">
        <div class="text_sm" align="justify"><span><%= t('tariff.info') %></span></div>
        <div class="wallet">
            <div class="wallet__division money">
                <div class="money__header"><%= t('profile.your_account') %>:</div>
                <div class="money__data data"><span><%= humanized_money current_user.account %></span><span> <%= currency_symbol %></span></div>
            </div>
            <% unless current_user.tariff.nil? %>
                <div class="wallet__division status">
                    <div class="status__header"><%= t('profile.status') %>:</div>
                    <div class="status__data data"><span><%= current_user.tariff_active? ? t('profile.active') : t('profile.inactive') %></span></div>
                    <% if current_user.tariff_active? %>
                        <%= button_to t('button.suspend'), update_status_path, remote: false, method: 'patch',
                            form: { "data-type" => "json"}, params: { status: 'inactive' }, class: 'btn btn-success' %>
                    <% else %>
                        <%= button_to t('button.activate'), update_status_path, remote: false, method: 'patch',
                            form: { "data-type" => "json"}, params: { status: 'active' }, class: 'btn btn-success' %>
                    <% end %>
                </div>
            <% end %>
            <div class="wallet__division rate">
                <div class="rate__header"><%= t('profile.tariff') %></div>
                <% if current_user.tariff.nil? then %>
                    <div class="rate__data data"><span><%= t('profile.no_tariff') %></span></div>
                    <%= button_to t('button.choose_tariff'), settings_path, remote: false, method: 'get',
                            form: { "data-type" => "json"}, class: 'btn btn-success' %>
                <% else %>
                    <div class="rate__data data"><span><%= current_user.tariff.price_per_day %> <%= currency_symbol %> <%= t('profile.per_day') %> <span class="md-regular">(<%= current_user.tariff.name %>)</span></span></div>
                    <%= button_to t('button.change_tariff'), settings_path, remote: false, method: 'get',
                            form: { "data-type" => "json"}, class: 'btn btn-success' %>
                <% end %>
            </div>
        </div>
    </section>
</main>