<div class="p-settings">

  <% if RolePolicy.manufacturer_access(current_user) %>

    <section class="section <%= 'section_no-bg' if TariffPolicy.tariff_access(current_user) %>" id="choose-tariff">

      <% if TariffPolicy.tariff_access(current_user) %>
        <div class="status-badge status-badge_success">Вы приобрели тарифный пакет "<%= t("tariff.#{current_user.tariff.name}") %>"
          (действителен до <%= current_user.tariff_enddate.strftime("%d-%m-%Y") %>).
          Перейдите в <span class="icon icon-bell"></span><%= link_to 'Заявки', requests_path(:new) %> для просмотра заявок от покупателей.</div>
      <% else %>
        <div class="status-badge status-badge_info">Для начала работы с Woodmister вам необходимо приобрести один из тарифных пакетов.</div>
        <div>
          <h4 class="section__header"><%= t('tariff.choose') %></h4>
          <div class="tariff-list">
            <% @tariffs.each do |tariff| %>
            <%= render partial: "blocks/tariff", locals: { tariff: tariff } %>
            <% end %>
          </div>
        </div>
      <% end %>

    </section>

    <section class="section"  id="choose-data">

      <% if UserPolicy.confirmed_access(current_user) %>

        <div class="status-badge status-badge_success">Ваш аккаунт и документы подтверждены администрацией.</div>

      <% else %>

        <% if UserPolicy.documents_uploaded_access(current_user) %>

          <div class="status-badge status-badge_info">Ваши документы загружены и модерируются. После завершения модерации вы получите электронное письмо и откроете доступ к системе Woodmister.</div>

        <% else %>

          <div class="status-badge status-badge_info">
            Перед тем как использовать Woodmister вам необходимо предоставить документы, подтверждающие ваши права на торговлю товарами.
            <ol>
              <li>Виписка з Єдиного державного реєстру юридичних осіб, фізичних осіб</li>
              <li>Витяг з реєстру платників єдиного податку, або про інші форми оподаткування</li>
            </ol>
          </div>

          <% if Rails.env.production? %>

            <%= form_for(current_user, url: upload_documents_path, method: :patch, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 
              'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>
              <% (4 - current_user.files_uploaded).times do |i| %>
                <div class="field">
                  <%= f.label 'Фото/скан документа' %>
                  <%= f.file_field :document, id: "user_document_#{i}"%>
                </div>
              <% end %>
            <% end %>

          <% else %>

            <%= form_for(current_user, url: upload_documents_path, method: :patch, html: { class: 'directUpload' }) do |f| %>
              <% (4 - current_user.files_uploaded).times do |i| %>
              <div class="field">
                <%= f.label 'Фото/скан документа' %>
                <%= f.file_field :document, id: "user_document_#{i}"%>
              </div>
              <% end %>
            <% end %>

          <% end %>

          <div class="form-group">
            <div class="form-check form-check-inline form-check_confirm-using-data">
              <label class="form-check-label" for="confirm_data">
                <input name="confirm_data" type="hidden" value="0"><input class="form-check-input form-check_confirm-using-data" type="checkbox" value="1" checked="checked" name="confirm_data" id="confirm_data">
                Я разрешаю использование моих персональных данных
              </label>
            </div>
          </div>
          <div class="status-badge status-badge_info">После модерации ваших документов вы получите электронное письмо и откроете доступ к системе.</div>

        <% end %>

      <% end %>

    </section>
  
    <% ['region', 'furniture'].each do |model| %>

      <section class="section" id="choose-<%= model %>s">

        <div class="status-badge status-badge_info"><%= t("profile.settings_#{model}s") %></div>

          <%= form_for(:set_model, url: update_setting_path, method: :patch, html: { class: "#{model}s" }) do |f| %>
            <%= hidden_field_tag :model, "#{model}", id: "#{model}_setting" %>
            <div class="form-group">
            
              <div class="form-check form-check-inline form-check_all">
                <%= f.label "set_all_#{model}", class: 'form-check-label' do %>
                  <%= f.check_box "set_all_#{model}", class: "form-check-input form-check-input_all", checked: @settings["user_#{model}s_ids"] == @settings["#{model}s_ids"] %>
                  <%= t("profile.all_#{model}s") %>
                <% end %>
              </div>
              
              <% @settings["#{model}s_ids"].each do |model_object| %>
                <div class="form-check form-check-inline form-check_single">
                  <% if model == 'furniture' %>
                    <%= image_tag asset_pack_path("images/#{ @settings['furnitures'][model_object - 1].title }.svg") %>
                  <% end %>
                  <%= f.label "#{model}_#{model_object}", class: 'form-check-label' do %>
                    <%= f.check_box "#{model}_#{model_object}", class: "form-check-input form-check-input_single", 
                      checked: @settings["user_#{model}s_ids"].include?(model_object) %>
                    <%= @settings["#{model}s"][model_object - 1].title %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="box">
              <%= f.submit 'Сохранить', class: 'btn-hidden', id: "submit-#{model}s" %>
              <span class="box__content_wrap">
                <span class="icon-check icon"></span>
                <span class="box__content"><%= t("button.save_#{model}s") %></span>
              </span>
            </div>
          <% end %>
        
      </section>

    <% end %>

  <% end %>

  <% if RolePolicy.customer_access(current_user) %>
    
    <section class="section" id="choose-furniture">

      <% if @requests.empty? %>
        <div class="status-badge status-badge_info" style="margin: 20px 0;">Здесь вы сможете отслеживать ваши заявки. Выберите желаемую мебель из поиска и оставьте заявку по ней. Производители свяжутся с вами по телефону или электронной почте!</div>
      <% else %>

        <div class="section__header">Ваши заявки</div>
        <hr width="60px" size="2" align="center" color="#C8A165">

        <div class="card text-center">
          <div class="card-body">
            <% @requests.each do |request| %>
              <%= render partial: "requests/request", locals: { request: request, status: @status } %>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="section__header">Выберите категорию</div>
      <hr width="60px" size="2" align="center" color="#C8A165">

      <div class="furniture-list">
        <% @furnitures.each do |furniture| %>
          <%= link_to products_path(request.query_parameters.merge(furniture: furniture.id)), class: 'furniture-list__item', "data-turbolinks": "false" do %>
            <div class="furniture-list__item-image"><%= image_tag asset_pack_path("images/#{ furniture.title }.svg"), width: '100%' %></div>
            <div class="furniture-list__item-title"><span><%= furniture.title %></span></div>
          <% end %>
        <% end %>
      </div>
    </section>
  <% end %>

</div>

