<div class="p-settings">

  <% if current_user.manufacturer? %>

    <section class="section">

      <% if @user_documents_confirmed %>

        <div class="status-badge status-badge_success">Ваш аккаунт и документы подтверждены администрацией.</div>

      <% else %>

        <% if @user_files_uploaded %>

          <div class="status-badge status-badge_info">Ваши документы загружены и модерируются. После завершения модерации вы получите электронное письмо и откроете доступ к системе Woodmister.</div>

        <% else %>

          <div class="status-badge status-badge_info">
            Перед тем как использовать Woodmister вам необходимо предоставить документы, подтверждающие ваши права на торговлю товарами.
            <ol>
              <li>Виписка з Єдиного державного реєстру юридичних осіб, фізичних осіб</li>
              <li>Витяг з реєстру платників єдиного податку, або про інші форми оподаткування</li>
            </ol>
          </div>

          <% if Rails.env.production? %>

            <%= form_for(current_user, url: upload_documents_path, method: :patch, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 
              'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>
              <% (4 - current_user.files_uploaded).times do |i| %>
                <div class="field">
                  <%= f.label 'Фото/скан документа' %>
                  <%= f.file_field :document, id: "user_document_#{i}"%>
                </div>
              <% end %>
            <% end %>

          <% else %>

            <%= form_for(current_user, url: upload_documents_path, method: :patch, html: { class: 'directUpload' }) do |f| %>
              <% (4 - current_user.files_uploaded).times do |i| %>
              <div class="field">
                <%= f.label 'Фото/скан документа' %>
                <%= f.file_field :document, id: "user_document_#{i}"%>
              </div>
              <% end %>
            <% end %>

          <% end %>

          <div class="status-badge status-badge_info">После модерации ваших документов вы получите электронное письмо и откроете доступ к системе.</div>

        <% end %>

      <% end %>

    </section>

    <section class="section <%= 'section_no-bg' if @user_tariff_active %>" id="choose-tariff">

      <% if @user_tariff_active %>
        <div class="status-badge status-badge_success">Вы приобрели тарифный пакет "<%= t("tariff.#{current_user.tariff.name}") %>" 
        (действителен до <%= current_user.tariff_enddate.strftime("%d-%m-%Y") %>).
        Перейдите в <span class="icon icon-bell"></span><%= link_to 'Заявки', requests_path(:new) %> для просмотра заявок от покупателей.</div>
      <% else %>
        <div class="status-badge status-badge_info">Для начала работы с Woodmister вам необходимо приобрести один из тарифных пакетов.</div>
        <div>
          <h4 class="section__header"><%= t('tariff.choose') %></h4>
          <div class="tariff-list">
          <% @tariffs.each do |tariff| %>
            <%= render partial: "blocks/tariff", locals: { tariff: tariff } %>
          <% end %>
          </div>
        </div>
      <% end %>
      
    </section>
    
    
    <% ['region', 'furniture'].each do |model| %>

      <section class="section" id="choose-<%= model %>s">

        <div class="status-badge status-badge_info"><%= t("profile.settings_#{model}s") %></div>

          <%= form_for(:set_model, url: update_setting_path, method: :patch, html: { class: "#{model}s" }) do |f| %>
            <%= hidden_field_tag :model, "#{model}", id: "#{model}_setting" %>
            <div class="form-group">
            
              <div class="form-check form-check-inline form-check_all-<%= model %>s">
                <%= f.label "set_all_#{model}", class: 'form-check-label' do %>
                  <%= f.check_box "set_all_#{model}", class: "form-check-input form-check-input_all-#{model}s", checked: @settings["user_#{model}s_ids"] == @settings["#{model}s_ids"] %>
                  <%= t("profile.all_#{model}s") %>
                <% end %>
              </div>
              <% @settings["#{model}s_ids"].each do |model_object| %>
                <div class="form-check form-check-inline">
                  <% if model == 'furniture' %>
                    <%= image_tag asset_pack_path("images/#{ @settings['furnitures'][model_object - 1].title }.svg") %>
                  <% end %>
                  <%= f.label "#{model}_#{model_object}", class: 'form-check-label' do %>
                    <%= f.check_box "#{model}_#{model_object}", class: "form-check-input form-check-input_#{model}", 
                      checked: @settings["user_#{model}s_ids"].include?(model_object) %>
                    <%= @settings["#{model}s"][model_object - 1].title %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="box">
              <%= f.submit 'Сохранить', class: 'btn-hidden', id: "submit-#{model}s" %>
              <span class="box__content_wrap">
                <span class="icon-check icon"></span>
                <span class="box__content"><%= t("button.save_#{model}s") %></span>
              </span>
            </div>
          <% end %>
        
      </section>

    <% end %>

  <% end %>

  <section class="section">
    <div class="settings">
      <div class="settings__password password">
        <h4 class="section__header">Изменить пароль</h4>
        <div class="password__form">
          <form id="passwordChange" class="form">
            <div class="select-wrapper">
              <div class="select form-group">
                <input type="password" name="oldpassword" required placeholder="Введите  старый пароль" class="form-control input-field">
              </div>
            </div>
            <div class="select-wrapper">
              <div class="select form-group">
                <input type="password" name="newpassword" required placeholder="Введите новый пароль" class="form-control input-field">
              </div>
            </div>
            <div class="select-wrapper">
              <div class="select form-group">
                <input type="password" name="newrepassword" required placeholder="Подтвердите новый пароль" class="form-control input-field">
              </div>
            </div>
            <div class="form__btn box">
              <span class="box__content_wrap">
                <span class="icon-note icon"></span>
                <span class="box__content">Сохранить изменения</span>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

</div>

