<div class="container_lg">

    <%= render "layouts/aside" %>

    <main id="cabinetCustomerOffers" class="page page_right">

        <div class="page__head">
            <%= link_to :back, class: 'page__back item' do %>
                <span class="icon-arrow-left-circle item__icon"></span>
                <span><%= t('profile.back') %></span>
            <% end %>
            <%= link_to destroy_user_session_path, class: 'page__exit item', method: :delete do %>
                <span class="icon-logout item__icon"></span>
                <span><%= t('menu.exit') %></span>
            <% end %>
        </div>

        <section id="profileInfo" class="section">
            <div class="profile">
                <div class="profile__avatar">
                    <div class="profile__avatar_wrap"><img src="img/user.png" alt=""></div>
                    <button class="form__btn box">
                        <span class="box__content_wrap">
                            <span class="icon-picture icon"></span>
                            <span class="box__content">Загрузить аватар</span>
                        </span>
                    </button>
                </div>
                <div class="profile__data">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><%= t('profile.name') %><span class="icon-question icon_help"></span></td>
                            <td><%= @user.full_name %></td>
                        </tr>
                        <tr>
                            <td><%= t('profile.phone') %><span class="icon-question icon_help"></span></td>
                            <td><%= @user.phone %></td>
                        </tr>

                        <% if current_user.manufacturer? then %>
                            <tr>
                                <td><%= t('profile.tariff') %><span class="icon-question icon_help"></span></td>
                                <% if current_user.tariff.nil? %>
                                    <td><%= t('profile.no_tariff') %></td>
                                <% else %>
                                    <td><%= humanized_money current_user.tariff.price %> грн/день (<%= current_user.tariff.name %>)</td>
                                <% end %>
                            </tr>
                            <tr>
                                <td><%= t('profile.status') %><span class="icon-question icon_help"></span></td>
                                <td>
                                    <% if current_user.tariff_active? then %>
                                        <%= t('profile.active') %>
                                    <% else %>
                                        <%= t('profile.inactive') %>
                                    <% end %>
                                </td>
                            </tr>

                            <tr>
                                <td><%= t('profile.score') %><span class="icon-question icon_help"></span></td>
                                <td><span><%= current_user.score %></span> ❤️</td>
                            </tr>
                            <tr>
                                <td><%= t('profile.search_area') %><span class="icon-question icon_help"></span></td>
                                <td>Киевская, Житомирская, Ровенская, Харьковская, Полтавская, Сумская, Кировоградская</td>
                            </tr>
                            <tr>
                                <td><%= t('profile.your_products') %><span class="icon-question icon_help"></span></td>
                                <td>Диваны, Кровати, Стулья, Столы</td>
                            </tr>
                        <% end %>
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>

</div>