
<section class="section section_no-padding">

<% if @requests_access %>

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <% %w(new active successful archived).each_with_index do |val, index| %>
          <li class="nav-item">
            <a href="<%= requests_path(status: val) %>" class="nav-link <%= 'active' if @status == val %>">
              <%= t("request.#{val}") %> <%= "(#{@active_requests.length})" if val == 'active' %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="card-body">
      <p class="card-text"><%= t("request.text_#{@status}") %></p>
      <% if @requests.blank? %>
        <div class="no-requests"><%= t('request.no-requests') %></div>
      <% else %>
        <% @requests.each do |request| %>
          <%= render partial: "requests/request", locals: { request: request, status: @status } %>
        <% end %>
      <% end %>
    </div>
  </div>

<% else %>

  <div class="status-badge status-badge_info">Для работы с системой Woodmister необходимо предоставить документы подтверждающие ваши права на торговлю товарами, а также приобрести один из тарифных пакетов. Загрузить документы и приобрести тарифный пакет можно в <span class="icon icon-key"></span><%= link_to 'Профиле', profile_path %>.</div>

<% end %>
  
</section>