<header id="home" class="main__screen screen">
    <div id="carouselTop" class="carousel slide screen__carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselTop" data-slide-to="0" class="active"></li>
            <li data-target="#carouselTop" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="info_wrap">
                    <div class="info">
                        <h3>welcome to our</h3>
                        <h1>ELEGENT FURNITURE</h1>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there hidden in the middle of text.</p>
                        <button class="info__btn box">
                            <span class="box__content_wrap">
                                <span class="icon-pencil icon"></span>
                                <%= link_to 'Регистрация', new_user_registration_path, class: 'box__content', id: 'sign_up', 'data-turbolinks': false %>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="info_wrap">
                    <div class="info">
                        <h3>welcome to our</h3>
                        <h1>ELEGENT FURNITURE</h1>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there hidden in the middle of text.</p>
                        <button class="info__btn box">
                            <span class="box__content_wrap">
                                <span class="icon-pencil icon"></span>
                                <span class="box__content">Регистрация</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev carousel__control carousel__control_left" href="#carouselTop" role="button" data-slide="prev">
            <span class="icon-arrow-left icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next carousel__control carousel__control_right" href="#carouselTop" role="button" data-slide="next">
            <span class="icon-arrow-right icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<section id="calculator" class="section">
  {{message}}
  <app></app>
</section>

<section id="hot" class="section">
    <div class="section__header_wrap">
        <h2 class="section__header">Выберите мебель</h2>
        <hr width="60px" size="2" align="center" color="#C8A165">
    </div>
    <div class="flex-list flex-list_landing">
        <div class="result result_card">
            <div class="result__product product">
                <div class="product__image"><%= image_tag asset_pack_path('images/products/54/10411_0.jpg'), width: '100%' %></div>
                <div class="product__info info">
                    <div class="info__name"><span>Диван Сафир-2 Лайт</span></div>
                    <div class="info__tags tag__list">
                        <div class="tag"><span class="icon-tag icon"></span><span>Диваны Bonnel</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>Тик-так (пантограф)</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>Dizi</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>142x200</span></div>
                    </div>
                </div>
            </div>
            <div class="result__action">
                <button class="form__btn box box_center">
                    <span class="box__content_wrap">
                        <span class="icon-doc icon"></span>
                        <span class="box__content">Подробнее</span>
                    </span>
                </button>
                <button class="form__btn box box_center">
                    <span class="box__content_wrap">
                        <span class="icon-share-alt icon"></span>
                        <span class="box__content">Оставить заявку</span>
                    </span>
                </button>
            </div>
        </div>
        <div class="result result_card">
            <div class="result__product product">
                <div class="product__image"><%= image_tag asset_pack_path('images/products/54/10575_0.jpg'), width: '100%' %></div>
                <div class="product__info info">
                    <div class="info__name"><span>Диван Сафир-2 Лайт</span></div>
                    <div class="info__tags tag__list">
                        <div class="tag"><span class="icon-tag icon"></span><span>Диваны Bonnel</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>Тик-так (пантограф)</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>Dizi</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>142x200</span></div>
                    </div>
                </div>
            </div>
            <div class="result__action">
                <button class="form__btn box box_center">
                    <span class="box__content_wrap">
                        <span class="icon-doc icon"></span>
                        <span class="box__content">Подробнее</span>
                    </span>
                </button>
                <button class="form__btn box box_center">
                    <span class="box__content_wrap">
                        <span class="icon-share-alt icon"></span>
                        <span class="box__content">Оставить заявку</span>
                    </span>
                </button>
            </div>
        </div>
        <div class="result result_card">
            <div class="result__product product">
                <div class="product__image"><%= image_tag asset_pack_path('images/products/54/10576_0.jpg'), width: '100%' %></div>
                <div class="product__info info">
                    <div class="info__name"><span>Диван Сафир-2 Лайт</span></div>
                    <div class="info__tags tag__list">
                        <div class="tag"><span class="icon-tag icon"></span><span>Диваны Bonnel</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>Тик-так (пантограф)</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>Dizi</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>142x200</span></div>
                    </div>
                </div>
            </div>
            <div class="result__action">
                <button class="form__btn box box_center">
                    <span class="box__content_wrap">
                        <span class="icon-doc icon"></span>
                        <span class="box__content">Подробнее</span>
                    </span>
                </button>
                <button class="form__btn box box_center">
                    <span class="box__content_wrap">
                        <span class="icon-share-alt icon"></span>
                        <span class="box__content">Оставить заявку</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>

<section id="about" class="section">
    <div class="section__header_wrap">
        <h2 class="section__header">about us</h2>
        <hr width="60px" size="2" align="center" color="#C8A165">
    </div>
    <div class="about">
        <div class="about__img"><%= image_tag asset_pack_path('images/about.jpg'), width: '100%' %></div>
        <div class="about__text text">
            <div class="text__header_wrap">
                <p class="text__header">who we are</p>
                <hr width="30px" size="2" align="left" color="#C8A165">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn aliqua. Ut enim ad minim veniam, ommodo consequa. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia is be deserunt mollit anim id est laborum.</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit. voluptatem accusantium doloremque laudantium, totam remes aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        </div>
    </div>
</section>


<!--<section id="tariffs" class="section">
    <div class="section__header_wrap">
        <h2 class="section__header">tariffs</h2>
        <hr width="60px" size="2" align="center" color="#C8A165">
    </div>

    <div class="tariff-list tariff-list_landing">
        <% @tariffs.each do |tariff| %>
            <%= render partial: "blocks/tariff", locals: { tariff: tariff } %>
        <% end %>
    </div>
</section>-->

<section id="clients" class="section">
    <div class="section__header_wrap">
        <h2 class="section__header">our clients</h2>
        <hr width="60px" size="2" align="center" color="#C8A165">
    </div>
    <div class="client__list">
        <a href="#" target="_blank" class="client client_example"><%= image_tag asset_pack_path('images/setaltLogo.svg'), width: '100%' %></a>
        <a href="#" target="_blank" class="client client_example"><%= image_tag asset_pack_path('images/setaltLogo.svg'), width: '100%' %></a>
        <a href="#" target="_blank" class="client client_example"><%= image_tag asset_pack_path('images/setaltLogo.svg'), width: '100%' %></a>
        <a href="#" target="_blank" class="client client_example"><%= image_tag asset_pack_path('images/setaltLogo.svg'), width: '100%' %></a>
        <a href="#" target="_blank" class="client client_example"><%= image_tag asset_pack_path('images/setaltLogo.svg'), width: '100%' %></a>
    </div>
</section>
<section id="contacts" class="section">
    <div class="section__header_wrap">
        <h2 class="section__header">contacts</h2>
        <hr width="60px" size="2" align="center" color="#C8A165">
    </div>
    <div class="contacts_wrap">
        <div class="contacts">
            <div class="contacts__text text">
                <div class="text__header_wrap">
                    <p class="text__header">contact details</p>
                    <hr width="30px" size="2" align="left" color="#C8A165">
                </div>
            </div>
            <div class="contact">
                <div class="contact__icon"><span class="icon-location-pin"></span></div>
                <div class="contact__info">
                    <span>28 Green Tower, Street Name, <br>New York City, USA</span>
                </div>
            </div>
            <div class="contact">
                <div class="contact__icon"><span class="icon-phone"></span></div>
                <div class="contact__info">
                    <a href="tel:+380939824411">+380939824411</a><br>
                    <a href="tel:+380939824411">+380939824411</a>
                </div>
            </div>
            <div class="contact">
                <div class="contact__icon"><span class="icon-envelope"></span></div>
                <div class="contact__info">
                    <a href="mailto:someone@yoursite.com">company-email@gmail.com</a>
                </div>
            </div>
            <div class="contacts__form_wrap">
                <form id="contactsForm" class="contacts__form form">
                    <div class="contacts__text text">
                        <div class="text__header_wrap">
                            <p class="text__header">send message</p>
                            <hr width="30px" size="2" align="left" color="#C8A165">
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <input type="text" name="name" required placeholder="Имя" class="form-control input-field">
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <input type="email" name="email" required placeholder="E-mail" class="form-control input-field">
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <textarea rows="5" required placeholder="Your comment" class="form-control input-field"></textarea>
                        </div>
                    </div>
                    <button class="form__btn box">
                        <span class="box__content_wrap">
                            <span class="icon-question icon"></span>
                            <span class="box__content">Задать вопрос</span>
                        </span>
                    </button>
                </form>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.5822004140687!2d30.455060151057253!3d50.44888237937438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce82b9bc8a47%3A0x47514e5d91216bf3!2z0JrQuNGX0LLRgdGM0LrQuNC5INC_0L7Qu9GW0YLQtdGF0L3RltGH0L3QuNC5INGW0L3RgdGC0LjRgtGD0YIg0ZbQvNC10L3RliDQhtCz0L7RgNGPINCh0ZbQutC-0YDRgdGM0LrQvtCz0L4!5e0!3m2!1suk!2sua!4v1517632640693" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>
