<header id="home" class="main__screen screen">
    <div id="carouselTop" class="carousel slide screen__carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselTop" data-slide-to="0" class="active"></li>
            <li data-target="#carouselTop" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="info_wrap">
                    <div class="info">
                        <h3>Покупайте выгодно мебель не вставая с дивана!</h3>
                        <h1>Сохрани свои деньги и время!</h1>
                        <p>Чтобы купить  мебель по самой выгодной цене Вам,необходимо сделать следующие шаги:</p>
                        <ul>
                            <li>Вы заполняете на нашем сайте Вашу контактную информацию</li>
                            <li>Выбираете комплект, или элемент мебели из каталога на сайте</li>
                            <li>Обозначаете регион поиска и Ваш запрос будет разослан всем продавцам мебели этого региона</li>
                        </ul>
                        <p>После Вашей заявки продавцы, зарегистрированные в нашей системе, сами свяжутся с Вами и предложат свои цены и условия.</p>

                        <button class="info__btn box">
                            <span class="box__content_wrap">
                                <span class="icon-pencil icon"></span>
                                <%= link_to 'Регистрация', new_user_registration_path, class: 'box__content', id: 'sign_up', 'data-turbolinks': false %>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="info_wrap">
                    <div class="info">
                        <h3>У Вас есть сайт, но продажи падают? <br>Услуги рекламных агенств очень дороги?</h3>
                        <h1>Хотите поднять продажи без затрат?</h1>
                        <p>Сегодня Вам не нужно тратиться на сайт или интернет магазин, чтобы продавать мебель. Как известно, сайт нужно не только купить, но и обслуживать, ”раскручивать”, ”продвигать”. Все стало еще проще.</p>
                        <p>Как это работает?</p>
                        <ul>
                            <li>Вы регистрируетесь на сайте</li>
                            <li>Выбираете товар из каталога, которым Вы торгуете</li>
                            <li>Администратор нашего сервиса проверит и активирует Ваш аккаунт</li>
                            <li>Вы получаете клиента со всех регионов, которые Вы выбрали</li>
                            <li>При наличии у вас требуемой мебели Вы связываетесь с потенциальным покупателем напрямую и предлагаете свою цену и условия доставки</li>
                        </ul>

                        <button class="info__btn box">
                            <span class="box__content_wrap">
                                <span class="icon-pencil icon"></span>
                                <span class="box__content">Регистрация</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev carousel__control carousel__control_left" href="#carouselTop" role="button" data-slide="prev">
            <span class="icon-arrow-left icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next carousel__control carousel__control_right" href="#carouselTop" role="button" data-slide="next">
            <span class="icon-arrow-right icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<section class="furniture-list">
    <% @furnitures.each do |furniture| %>
        <%= link_to products_path(request.query_parameters.merge(furniture: furniture.id)), class: 'furniture-list__item' do %>
            <div class="furniture-list__item-image"><%= image_tag asset_pack_path("images/#{ furniture.title }.svg"), width: '100%' %></div>
            <div class="furniture-list__item-title"><span><%= furniture.title %></span></div>
        <% end %>
    <% end %>
</section>

<section id="hot" class="section">
    <div class="section__header_wrap">
        <h2 class="section__header">Топ товаров</h2>
        <hr width="60px" size="2" align="center" color="#C8A165">
    </div>
    <div class="flex-list flex-list_landing">
        <div class="result result_card">
            <div class="result__product product">
                <div class="product__image"><%= image_tag asset_pack_path('images/about.jpg'), width: '100%' %></div>
                <div class="product__info info">
                    <div class="info__name"><span>Диван Сафир-2 Лайт</span></div>
                    <div class="info__tags tag__list">
                        <div class="tag"><span class="icon-tag icon"></span><span>Диваны Bonnel</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>Тик-так (пантограф)</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>Dizi</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>142x200</span></div>
                    </div>
                </div>
            </div>
            <div class="result__action">
                <button class="form__btn box box_center">
                    <span class="box__content_wrap">
                        <span class="icon-doc icon"></span>
                        <span class="box__content">Подробнее</span>
                    </span>
                </button>
                <button class="form__btn box box_center">
                    <span class="box__content_wrap">
                        <span class="icon-share-alt icon"></span>
                        <span class="box__content">Оставить заявку</span>
                    </span>
                </button>
            </div>
        </div>
        <div class="result result_card">
            <div class="result__product product">
                <div class="product__image"><%= image_tag asset_pack_path('images/about.jpg'), width: '100%' %></div>
                <div class="product__info info">
                    <div class="info__name"><span>Диван Сафир-2 Лайт</span></div>
                    <div class="info__tags tag__list">
                        <div class="tag"><span class="icon-tag icon"></span><span>Диваны Bonnel</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>Тик-так (пантограф)</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>Dizi</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>142x200</span></div>
                    </div>
                </div>
            </div>
            <div class="result__action">
                <button class="form__btn box box_center">
                    <span class="box__content_wrap">
                        <span class="icon-doc icon"></span>
                        <span class="box__content">Подробнее</span>
                    </span>
                </button>
                <button class="form__btn box box_center">
                    <span class="box__content_wrap">
                        <span class="icon-share-alt icon"></span>
                        <span class="box__content">Оставить заявку</span>
                    </span>
                </button>
            </div>
        </div>
        <div class="result result_card">
            <div class="result__product product">
                <div class="product__image"><%= image_tag asset_pack_path('images/about.jpg'), width: '100%' %></div>
                <div class="product__info info">
                    <div class="info__name"><span>Диван Сафир-2 Лайт</span></div>
                    <div class="info__tags tag__list">
                        <div class="tag"><span class="icon-tag icon"></span><span>Диваны Bonnel</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>Тик-так (пантограф)</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>Dizi</span></div>
                        <div class="tag"><span class="icon-tag icon"></span><span>142x200</span></div>
                    </div>
                </div>
            </div>
            <div class="result__action">
                <button class="form__btn box box_center">
                    <span class="box__content_wrap">
                        <span class="icon-doc icon"></span>
                        <span class="box__content">Подробнее</span>
                    </span>
                </button>
                <button class="form__btn box box_center">
                    <span class="box__content_wrap">
                        <span class="icon-share-alt icon"></span>
                        <span class="box__content">Оставить заявку</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>

<section id="about" class="section">
    <div class="section__header_wrap">
        <h2 class="section__header">О нас</h2>
        <hr width="60px" size="2" align="center" color="#C8A165">
    </div>
    <div class="about">
        <div class="about__img"><%= image_tag asset_pack_path('images/about.jpg'), width: '100%' %></div>
        <div class="about__text text">
            <div class="text__header_wrap">
                <p class="text__header">Кто мы такие</p>
                <hr width="30px" size="2" align="left" color="#C8A165">
            </div>
            <p>Мы живем в стремительное время. Скорость интернета, скорость автомобилей, скорость течения жизни - все ускоряется. И так сложно найти свободное время для отдыха и релакса, не отвлекаясь на обыденные задачи.</p>
            <p>Наш проект Вудмистер - это первый проект быстрых решений для одной из Ваших потребностей - потребности в комфорте, уюте, а значит и безопасности.</p>
            <p><b>woodmister.com</b> - первый сайт в Украине по быстрому поиску новой мебели.</p>
        </div>
    </div>
</section>


<!--<section id="tariffs" class="section">
    <div class="section__header_wrap">
        <h2 class="section__header">tariffs</h2>
        <hr width="60px" size="2" align="center" color="#C8A165">
    </div>

    <div class="tariff-list tariff-list_landing">
        <% @tariffs.each do |tariff| %>
            <%= render partial: "blocks/tariff", locals: { tariff: tariff } %>
        <% end %>
    </div>
</section>-->

<section id="clients" class="section">
    <div class="section__header_wrap">
        <h2 class="section__header">our clients</h2>
        <hr width="60px" size="2" align="center" color="#C8A165">
    </div>
    <div class="client__list">
        <a href="#" target="_blank" class="client client_example"><%= image_tag asset_pack_path('images/setaltLogo.svg'), width: '100%' %></a>
        <a href="#" target="_blank" class="client client_example"><%= image_tag asset_pack_path('images/setaltLogo.svg'), width: '100%' %></a>
        <a href="#" target="_blank" class="client client_example"><%= image_tag asset_pack_path('images/setaltLogo.svg'), width: '100%' %></a>
        <a href="#" target="_blank" class="client client_example"><%= image_tag asset_pack_path('images/setaltLogo.svg'), width: '100%' %></a>
        <a href="#" target="_blank" class="client client_example"><%= image_tag asset_pack_path('images/setaltLogo.svg'), width: '100%' %></a>
    </div>
</section>
<section id="contacts" class="section">
    <div class="section__header_wrap">
        <h2 class="section__header">contacts</h2>
        <hr width="60px" size="2" align="center" color="#C8A165">
    </div>
    <div class="contacts_wrap">
        <div class="contacts">
            <div class="contacts__text text">
                <div class="text__header_wrap">
                    <p class="text__header">contact details</p>
                    <hr width="30px" size="2" align="left" color="#C8A165">
                </div>
            </div>
            <div class="contact">
                <div class="contact__icon"><span class="icon-location-pin"></span></div>
                <div class="contact__info">
                    <span>28 Green Tower, Street Name, <br>New York City, USA</span>
                </div>
            </div>
            <div class="contact">
                <div class="contact__icon"><span class="icon-phone"></span></div>
                <div class="contact__info">
                    <a href="tel:+380939824411">+380939824411</a><br>
                    <a href="tel:+380939824411">+380939824411</a>
                </div>
            </div>
            <div class="contact">
                <div class="contact__icon"><span class="icon-envelope"></span></div>
                <div class="contact__info">
                    <a href="mailto:someone@yoursite.com">company-email@gmail.com</a>
                </div>
            </div>
            <div class="contacts__form_wrap">
                <form id="contactsForm" class="contacts__form form">
                    <div class="contacts__text text">
                        <div class="text__header_wrap">
                            <p class="text__header">send message</p>
                            <hr width="30px" size="2" align="left" color="#C8A165">
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <input type="text" name="name" required placeholder="Имя" class="form-control input-field">
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <input type="email" name="email" required placeholder="E-mail" class="form-control input-field">
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <textarea rows="5" required placeholder="Your comment" class="form-control input-field"></textarea>
                        </div>
                    </div>
                    <button class="form__btn box">
                        <span class="box__content_wrap">
                            <span class="icon-question icon"></span>
                            <span class="box__content">Задать вопрос</span>
                        </span>
                    </button>
                </form>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.5822004140687!2d30.455060151057253!3d50.44888237937438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce82b9bc8a47%3A0x47514e5d91216bf3!2z0JrQuNGX0LLRgdGM0LrQuNC5INC_0L7Qu9GW0YLQtdGF0L3RltGH0L3QuNC5INGW0L3RgdGC0LjRgtGD0YIg0ZbQvNC10L3RliDQhtCz0L7RgNGPINCh0ZbQutC-0YDRgdGM0LrQvtCz0L4!5e0!3m2!1suk!2sua!4v1517632640693" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>
