<%= form_with url: payment_path do |form| %>
  <div>
    <span><%= t("payment.tariff_title") %></span>
  </div>
  <%= form.text_field :amount %>
  <%= form.text_field :card %>
  <%= form.text_field :card_exp_month %>
  <%= form.text_field :card_exp_year %>
  <%= form.text_field :card_cvv %>
  <%= form.text_field :amount %>
  <%= form.hidden_field :type, value: @payment_type %>
  <%= form.submit %>
<% end %>