 <section id="resultList" class="section">

    <div class="section__header_wrap">
        <h2 class="section__header"><%= t('product.list-title') %></h2>
        <hr width="60px" size="2" align="center" color="#C8A165">
    </div>

    <div class="calculator">
        <div class="calculator__filter" id="furniture">
            <% rarities.each do |rarity| %>
                <% if request.query_parameters[:rarity] == rarity %>
                    <%= link_to image_tag("back_#{rarity}.png"), cards_path(request.query_parameters.merge(rarity: '', page: 0)),
                                class: "rarity-filter rarity-active", id: "#{rarity}", :remote => true %>
                <% else %>
                    <%= link_to image_tag("back_#{rarity}.png"), cards_path(request.query_parameters.merge(rarity: rarity, page: 0)),
                                class: "rarity-filter", id: "#{rarity}", :remote => true %>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="result__wrap">
        <div class="result__list">

          <% @products.each do |product| %>
                <div class="result">

                    <div class="result__product product">
                        <div class="product__image">
                            <%= cdn_image_tag "products/#{product.product_id}_0.jpg" %>
                        </div>
                        <div class="product__info info">
                            <div class="info__name"><span><%= product.title %></span></div>
                            <div class="info__tags tag__list">
                            <% %w(factory style facade product_type).each do |detail| %>
                                <% unless product[detail].nil? then %>
                                    <div class="tag"><span class="icon-tag icon"></span><span><%= product[detail] %></span></div>
                                <% end %>
                            <% end %>
                            </div>
                        </div>
                    </div>

                    <div class="result__action">
                        <%= render partial: "blocks/button", locals: { text: t('button.details'), path_link: product_path(product.id), icon: 'doc' } %>
                        
                        <% if current_user.customer? %>
                            <div class="info__btn box">
                                <span class="box__content_wrap">
                                    <span class="icon-share-alt icon"></span>
                                    <%= button_to "Оставить заявку", { controller: "requests", action: "create" }, remote: false, 
                                    form: { "data-type" => "json"}, params: { :product_id => product.id }, class: 'box__content' %>
                                </span>
                            </div>
                        <% end %>
                    </div>

                </div>
          <% end %>

        </div>
    </div>

    <%= paginate @products %>

</section>
