<section id="productInfo" class="section">
  <div class="product product__page row">
    <div class="product__image image col-md-6">
      <%= Rails.configuration.cdn_host + "products/#{@product.product_id}_1.jpg" %>
      <% if @product.image_count > 1 %>
      <div class="image__list">
        <% (@product.image_count - 1).times do |i| %>
        <div class="image_small">
          <%= Rails.configuration.cdn_host + "products/#{@product.product_id}_#{i + 1}.jpg" %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="product__info info col-md-6">
      <h5 class="info__name"><%= @product.title %></h5>
      <table class="table">
      <p class="table__label">Характеристики</p>
      <tbody>
      <% %w(factory style facade product_type structure transformation_type width height depth).each do |detail| %>
        <% unless @product[detail].nil? then %>
          <tr>
          <td><%= t("product.#{detail}") %></td>
          <td><%= @product[detail] %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
      </table>
      <div class="info__btn box">
        <span class="box__content_wrap">
          <span class="icon-share-alt icon"></span>
          <%= button_to "Оставить заявку", { controller: "requests", action: "create" }, remote: false, 
          form: { "data-type" => "json"}, params: { :product_id => @product.id }, class: 'box__content' %>
        </span>
      </div>
    </div>
  </div>
</section>