<section id="productInfo" class="section">
  <div class="product product__page row">
      <div class="product__image image col-md-6">
          <%= product_image(@product) %>
          <div class="image__list">
            <% Dir.glob("#{Rails.root}/app/webpack/images/products/#{@product.category_id}/#{@product.product_id}/*").each do |file_path| %>
              <% file_path.slice!("#{Rails.root}/app/webpack/") %>
              <div class="image_small">
                <%= image_tag(asset_pack_path(file_path)) %>
              </div>
            <% end %>
          </div>
      </div>
      <div class="product__info info col-md-6">
          <h5 class="info__name"><%= @product.title %></h5>
          <table class="table">
            <p class="table__label">Характеристики</p>
            <tbody>
            <% %w(factory style facade product_type structure transformation_type width height depth).each do |detail| %>
                <% unless @product[detail].nil? then %>
                  <tr>
                    <td><%= t("product.#{detail}") %></td>
                    <td><%= @product[detail] %></td>
                  </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
          <button class="info__btn box">
              <span class="box__content_wrap">
                  <span class="icon-share-alt icon"></span>
                  <span class="box__content">Оставить заявку</span>
              </span>
          </button>
      </div>
  </div>
</section>