<aside>
    <nav class="navigation-left">

        <%= link_to root_path, class: 'navigation-left__logo' do %>
            <%= image_tag(asset_pack_path('images/logo.png')) %>
        <% end %>

        <div class="navigation-left__login-wrap">
            <span><%= current_user.full_name %></span>
        </div>

        <ul class="navigation-left__controls">

            <li class="navigation-left__controls-item">
                <%= link_to profile_path, class: "left-menu-item #{current_path(profile_path)}" do %>
                    <span class='icon icon-key'></span>
                    <span><%= t('menu.home') %></span>
                <% end %>
            </li>

            <% if current_user.manufacturer? then %>
                <li class="navigation-left__controls-item">
                    <%= link_to requests_path, class: "left-menu-item #{current_path(requests_path)}" do %>
                        <span class='icon icon-bell'></span>
                        <span><%= t('menu.requests') %></span>
                    <% end %>
                </li>
            <% end %>

            <li class="navigation-left__controls-item">
                <%= link_to products_path, class: "left-menu-item #{current_path(products_path)}" do %>
                    <span class='icon icon-list'></span>
                    <span><%= t('menu.catalog') %></span>
                <% end %>
            </li>

            <li class="navigation-left__controls-item">
                <%= link_to account_path, class: "left-menu-item #{current_path(account_path)}" do %>
                    <span class='icon icon-wallet'></span>
                    <span><%= t('menu.wallet') %></span>
                <% end %>
            </li>

            <li class="navigation-left__controls-item">
                <%= link_to help_path, class: "left-menu-item #{current_path(help_path)}" do %>
                    <span class='icon icon-question'></span>
                    <span><%= t('menu.help') %></span>
                <% end %>
            </li>

            <li class="navigation-left__controls-item">
                <%= link_to settings_path, class: "left-menu-item #{current_path(settings_path)}" do %>
                    <span class='icon icon-settings'></span>
                    <span><%= t('menu.settings') %></span>
                <% end %>
            </li>
        </ul>
    </nav>
</aside>
