<!DOCTYPE html>
<html>
  <head>
    <title>Woodmister</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700&amp;subset=cyrillic" rel="stylesheet">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if Rails.env.development? %>
      <%= stylesheet_pack_tag 'stylesheets', 'data-turbolinks-track': 'reload' unless Webpacker.dev_server.hot_module_replacing? %>
    <% else %>
      <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>

  </head>

  <body>
    <% unless hide_header? then %>
      <%= render "layouts/header" %>
    <% end %>

    <%= render 'layouts/messages' %>

    <% if content_aside? then %>
      <%= render "layouts/small-navigation-top" %>
      <%= render "layouts/aside" %>
    <% end %>

    <div class="content-container <%= 'content-container_aside' if content_aside? %>">
      <%= yield %>
    </div>

    <% unless hide_footer? then %>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
