
<div class="action">

    <%= link_to root_path, class: 'action__link back' do %>
        <div class="back__logo"></div>
            
        <div class="back__label">
            <span class="icon-arrow-left-circle item__icon"></span>
            <span>Назад</span>
        </div>
    <% end %>

    <main class="action__container registration">
        <div class="registration__form">
            <p class="form__header">Регистрация</p>

            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#register-client">Пользователь</a></li>
                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#register-customer">Продавец</a></li>
            </ul>

            <div class="tab-content">
                <div id="register-client" class="tab-pane in active" role="tabpanel">
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <%= email_field_tag 'user[email]', nil, id: 'user_email', class: 'form-control input-field',
                            placeholder: 'Электронная почта', required: true, autocomplete: 'off' %>
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <%= password_field_tag 'user[password]', nil, id: 'user_password', class: 'form-control input-field',
                            placeholder: 'Пароль', required: true, autocomplete: 'off' %>
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <%= password_field_tag 'user[password_confirmation]', nil, id: 'user_password_confirmation', class: 'form-control input-field',
                            placeholder: 'Подтвердите пароль', required: true, autocomplete: 'off' %>
                        </div>
                    </div>
                    <div class="">
                            <%= check_box_tag 'user[terms_of_service]', "1", id: 'user_terms_of_service', checked: 'checked' %>
                            <div class="checkbox__label">Я принимаю условия <a target="_blank" href="#" class="link_blue">пользовательского соглашения</a></div>
                    </div>
                    <div class="">
                            <%= check_box_tag 'user[subscribe]', "1", id: 'user_subscribe', checked: 'checked' %>
                            <div class="checkbox__label">Подписаться на рассылку новостей</div>
                    </div>
                    <%= hidden_field_tag 'user[role_name]', "Manufacturer", id: 'user_role_name' %>

                    <button type="button" class="box box_center form-submit-button" id="registrationCustomerSubmit">
                        <span class="box__content_wrap">
                            <span class="icon-pencil icon"></span>
                            <span class="box__content"><%= t('button.sign_up') %></span>
                        </span>
                    </button>

                    <div class="socials">
                        <p class="font_white" align="center">или с помощью аккаунта соц. сети</p>

                        <div class="socials-list">
                            <a href="#" class="socials-list__item socials-list__item_black">
                                <span class="icon-social-google icon"></span>
                            </a>
                            <a href="#" class="socials-list__item socials-list__item_black">
                                <span class="icon-social-facebook icon"></span>
                            </a>
                            <a href="#" class="socials-list__item socials-list__item_black">
                                <span class="icon-social-twitter icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="register-customer" class="tab-pane fade" role="tabpanel">

                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                    html: { id: "registrationCustomer", class: "registration__form form" }) do |f| %>

                    <%= devise_error_messages! %>

                    <div class="select-wrapper">
                        <div class="select form-group">
                            <%= text_field_tag 'user[first_name]', nil, id: 'user_first_name', class: 'form-control input-field',
                            placeholder: 'Имя', required: true, autocomplete: 'off', maxlength: 14 %>
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <%= text_field_tag 'user[last_name]', nil, id: 'user_last_name', class: 'form-control input-field',
                            placeholder: 'Фамилия', autocomplete: 'off', maxlength: 14 %>
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <%= text_field_tag 'user[company]', nil, id: 'user_company', class: 'form-control input-field',
                            placeholder: 'Название вашей компании', autocomplete: 'off', maxlength: 30 %>
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <%= text_field_tag 'user[phone]', nil, id: 'user_phone', class: 'form-control input-field',
                            placeholder: 'Телефон', autocomplete: 'off' %>
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <%= email_field_tag 'user[email]', nil, id: 'user_email', class: 'form-control input-field',
                            placeholder: 'Электронная почта', required: true, autocomplete: 'off' %>
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <%= text_field_tag 'user[city]', nil, id: 'user_city', class: 'form-control input-field',
                            placeholder: 'Город', autocomplete: 'off' %>
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <%= password_field_tag 'user[password]', nil, id: 'user_password', class: 'form-control input-field',
                            placeholder: 'Пароль', required: true, autocomplete: 'off' %>
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <%= password_field_tag 'user[password_confirmation]', nil, id: 'user_password_confirmation', class: 'form-control input-field',
                            placeholder: 'Подтвердите пароль', required: true, autocomplete: 'off' %>
                        </div>
                    </div>
                    <div class="">
                        <%= check_box_tag 'user[terms_of_service]', "1", id: 'user_terms_of_service', checked: 'checked' %>
                        <div class="checkbox__label">Я принимаю условия <a target="_blank" href="#" class="link_blue">пользовательского соглашения</a></div>
                    </div>
                    <div class="">
                        <%= check_box_tag 'user[subscribe]', "1", id: 'user_subscribe', checked: 'checked' %>
                        <div class="checkbox__label">Подписаться на рассылку новостей</div>
                    </div>
                    <%= hidden_field_tag 'user[role_name]', "Manufacturer", id: 'user_role_name' %>

                    <button type="button" class="box box_center form-submit-button" id="registrationCustomerSubmit">
                        <span class="box__content_wrap">
                            <span class="icon-pencil icon"></span>
                            <span class="box__content"><%= t('button.sign_up') %></span>
                        </span>
                    </button>

                    <% end %>
                </div>
            </div>
        </div>
    </main>

</div>