
<div class="action">

    <%= link_to root_path, class: 'action__link back' do %>
        <div class="back__logo logo">
            <span>Woodmister</span>
        </div>
        <div class="back__label">
            <span class="icon-arrow-left-circle item__icon"></span>
            <span>Назад</span>
        </div>
    <% end %>

    <main class="action__container registration">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), 
        html: { id: "registrationCustomer", class: "registration__form form" }) do |f| %>

        <%= devise_error_messages! %>

        <p class="form__header">Регистрация</p>

        <div class="select-wrapper">
            <div class="select form-group">
                <%= text_field_tag 'user[first_name]', nil, id: 'user_first_name', class: 'form-control input-field', 
                placeholder: 'Имя', required: true, autocomplete: 'off', maxlength: 14 %>
            </div>
        </div>
        <div class="select-wrapper">
            <div class="select form-group">
                <%= text_field_tag 'user[last_name]', nil, id: 'user_last_name', class: 'form-control input-field', 
                placeholder: 'Фамилия', autocomplete: 'off', maxlength: 14 %>
            </div>
        </div>
        <div class="select-wrapper">
            <div class="select form-group">
                <%= text_field_tag 'user[company]', nil, id: 'user_company', class: 'form-control input-field', 
                placeholder: 'Название вашей компании', autocomplete: 'off', maxlength: 30 %>
            </div>
        </div>
        <div class="select-wrapper">
            <div class="select form-group">
                <%= text_field_tag 'user[phone]', nil, id: 'user_phone', class: 'form-control input-field', 
                placeholder: 'Телефон', autocomplete: 'off' %>
            </div>
        </div>
        <div class="select-wrapper">
            <div class="select form-group">
                <%= email_field_tag 'user[email]', nil, id: 'user_email', class: 'form-control input-field', 
                placeholder: 'Электронная почта', required: true, autocomplete: 'off' %>
            </div>
        </div>
        <div class="select-wrapper">
            <div class="select form-group">
                <%= text_field_tag 'user[city]', nil, id: 'user_city', class: 'form-control input-field', 
                placeholder: 'Город', autocomplete: 'off' %>
            </div>
        </div>
        <div class="select-wrapper">
            <div class="select form-group">
                <%= password_field_tag 'user[password]', nil, id: 'user_password', class: 'form-control input-field', 
                placeholder: 'Пароль', required: true, autocomplete: 'off' %>
            </div>
        </div>
        <div class="select-wrapper">
            <div class="select form-group">
                <%= password_field_tag 'user[password_confirmation]', nil, id: 'user_password_confirmation', class: 'form-control input-field', 
                placeholder: 'Подтвердите пароль', required: true, autocomplete: 'off' %>
            </div>
        </div>
        <div class="">
                <%= check_box_tag 'user[terms_of_service]', "1", id: 'user_terms_of_service', checked: 'checked' %>
                <div class="checkbox__label">Я принимаю условия пользовательского <a target="_blank" href="#" class="link_blue">соглашения</a></div>
        </div>
        <div class="">
                <%= check_box_tag 'user[subscribe]', "1", id: 'user_subscribe', checked: 'checked' %>
                <div class="checkbox__label">Подписаться на рассылку новостей</div>
        </div>
        <%= hidden_field_tag 'user[role_name]', "Manufacturer", id: 'user_role_name' %>
        <button class="form__btn box box_center">
            <span class="box__content_wrap">
                <span class="icon-pencil icon"></span>
                <span class="actions box__content" id="user_sign_up" data-disable-with="Регистрируем..." name="commit">Регистрация</span>
            </span>
        </button>
        <div class="form__footer">
            <%= render "devise/shared/links" %>

            <p>Уже есть аккаунт?<a href="#" target="_blank" class="link_blue"> Войдите!</a></p>
        </div>
        <% end %>
    </main>

</div>